[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Max Große
	email = github@maxrn.net
[init]
	defaultBranch = main
[core]
	excludesfile = .gitignore_global
	editor = nvim
